.hero-image img {
  width: 790px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: var(--font-size-xl);
  color: var(--primary-color);
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
}










