body {
  margin: 0;
  padding: 0;
}
section {
  margin: 0;
}
h1, h2, p {
  margin-top: 0;
}
/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #000;
}