.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  font-size: 16px;
  font-weight: 400;
  color: #2453FA;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.active {
  font-weight: 500;
}


/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}





